.simple-daggerheart .gap-1 {
  gap: 4px;
}
.simple-daggerheart .gap-2 {
  gap: 8px;
}
.simple-daggerheart .gap-3 {
  gap: 12px;
}
.simple-daggerheart .gap-4 {
  gap: 24px;
}

.simple-daggerheart .large-input-field,
.simple-daggerheart .large-text-container {
  width: 3rem;
  max-width: 3rem;
  min-width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 1.7rem;
}
.simple-daggerheart .large-input-field-label {
  max-width: min-content;
}
.simple-daggerheart .large-text-container {
  margin-top: 4px;
  display: inline-block;
  line-height: 3rem;
  border: 1px solid var(--color-border);
  border-radius: 4px;
}

.simple-daggerheart.character-sheet-header .character-img {
  cursor: pointer;
  max-width: 120px;
  max-height: 120px;
  border: 1px solid var(--color-border);
  padding: 2px;
}

.simple-daggerheart.character-sheet-statuses .character-status-row {
  justify-content: center;
}
.simple-daggerheart.character-sheet-statuses .character-status-row .character-status {
  flex-grow: 0;
  padding: 0 8px;
}
.simple-daggerheart.character-sheet-statuses .character-status-row .character-status .character-status-inputs {
  width: max-content;
  justify-content: center;
}
.simple-daggerheart.character-sheet-statuses .character-status-row .character-status .character-status-inputs .divider {
  padding: 0 6px;
  max-width: 2rem;
  text-align: center;
  font-size: 1.7rem;
}
.simple-daggerheart.character-sheet-statuses .character-status-row .character-status .character-status-label {
  text-align: center;
}

.simple-daggerheart.character-sheet-stats .character-stat {
  border: 1px solid var(--color-border);
  border-top: none;
  align-items: center;
  padding: 4px 6px;
}
.simple-daggerheart.character-sheet-stats .character-stat .character-stat-content {
  width: 100%;
  justify-content: center;
}
.simple-daggerheart.character-sheet-stats .character-stat .character-stat-content .character-stat-value {
  max-width: 50%;
  text-align: center;
  margin-right: 4px;
}
.simple-daggerheart.character-sheet-stats .character-stat .character-stat-content .character-stat-checked {
  flex: 0;
  width: 0;
  margin: 0;
}
.simple-daggerheart.character-sheet-stats .character-stat ul {
  list-style: none;
  width: 100%;
  text-align: center;
  padding: 0;
}

.simple-daggerheart.character-sheet {
  min-width: 800px;
  min-height: 800px;
}
.simple-daggerheart.character-sheet .window-content {
  padding: 20px;
  gap: 20px;
}
.simple-daggerheart.character-sheet input {
  margin-top: 4px;
}
.simple-daggerheart.character-sheet .character-sheet-section {
  border: 1px solid transparent;
  background: linear-gradient(var(--background), var(--background)) padding-box, linear-gradient(to bottom right, var(--simple-daggerheart-accent), var(--simple-daggerheart-accent-heavy)) border-box;
  border-radius: 8px;
  padding: 20px;
}

body.theme-dark .application.simple-daggerheart,
body.theme-light .application.simple-daggerheart.theme-dark {
  --background: hsl(228, 40%, 4%);
  --color-border: hsl(228, 28%, 18%);
  --simple-daggerheart-accent: hsl(48, 75%, 77%);
  --simple-daggerheart-accent-heavy: hsl(48, 78%, 67%);
  --color-text-primary: hsl(40, 10%, 92%);
}
body.theme-dark .application.simple-daggerheart input,
body.theme-light .application.simple-daggerheart.theme-dark input {
  --input-background-color: hsl(228, 28%, 18%);
  --checkbox-background-color: hsl(228, 28%, 18%);
  --checkbox-checked-color: hsl(48, 78%, 67%);
  --input-border-color: hsl(228, 28%, 18%);
}

body.theme-light .application.simple-daggerheart,
body.theme-dark .application.simple-daggerheart.theme-light {
  --background: hsl(40, 10%, 92%);
  --color-border: hsl(228, 20%, 45%);
  --simple-daggerheart-accent: hsl(228, 20%, 60%);
  --simple-daggerheart-accent-heavy: hsl(228, 20%, 30%);
  --color-text-primary: hsl(228, 40%, 4%);
}
body.theme-light .application.simple-daggerheart input,
body.theme-dark .application.simple-daggerheart.theme-light input {
  --input-background-color: hsl(40, 10%, 95%);
  --input-border-color: hsl(228, 20%, 45%);
  --checkbox-checked-color: hsl(40, 10%, 95%);
}

.chat-message {
  --chat-message-background: hsl(40, 10%, 92%);
}

/*# sourceMappingURL=simple-daggerheart-styles.css.map */
