.simple-daggerheart .gap-1 {
  gap: 4px;
}
.simple-daggerheart .gap-2 {
  gap: 8px;
}
.simple-daggerheart .gap-3 {
  gap: 12px;
}
.simple-daggerheart .gap-4 {
  gap: 24px;
}
.simple-daggerheart .align-stretch {
  align-items: stretch;
}

.simple-daggerheart .large-input-field,
.simple-daggerheart .large-text-container {
  width: 3rem;
  max-width: 3rem;
  min-width: 3rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
}
.simple-daggerheart .large-input-field-label {
  max-width: min-content;
}
.simple-daggerheart .large-text-container {
  display: inline-block;
  line-height: 2.5rem;
  border: 1px solid var(--color-border);
  border-radius: 4px;
}
.simple-daggerheart .card {
  background-color: hsl(228, 40%, 7%);
  border-top: 1px solid var(--color-border);
  box-shadow: 0 2px 4px black;
  position: relative;
}
.simple-daggerheart .card > * {
  z-index: 2;
  position: relative;
}
.simple-daggerheart .card.card-red::before, .simple-daggerheart .card.card-gold::before, .simple-daggerheart .card.card-green::before, .simple-daggerheart .card.card-blue::before, .simple-daggerheart .card.card-metallic::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 50%;
  height: 3px;
  top: 0;
  left: 25%;
  border-radius: 0 0 6px 6px;
}
.simple-daggerheart .card.card-red::before {
  background: hsla(3, 70%, 60%, 0.6);
}
.simple-daggerheart .card.card-gold::before {
  background: linear-gradient(to right, hsl(48, 75%, 77%), hsl(48, 78%, 67%));
}
.simple-daggerheart .card.card-green::before {
  background: hsla(93, 70%, 60%, 0.6);
}
.simple-daggerheart .card.card-blue::before {
  background: hsla(228, 70%, 60%, 0.6);
}
.simple-daggerheart .card.card-metallic::before {
  background: linear-gradient(to right, hsla(228, 20%, 95%, 0.6), hsla(228, 20%, 95%, 0.4));
}

.simple-daggerheart.character-sheet-header {
  align-items: start;
}
.simple-daggerheart.character-sheet-header .character-img {
  cursor: pointer;
  max-width: 102px;
  max-height: 102px;
  border: 1px solid hsl(228, 28%, 16%);
  border-radius: 4px;
}
.simple-daggerheart.character-sheet-header .character-level {
  text-align: center;
  padding: 24px 12px 12px;
  border-radius: 0 0 8px 8px;
  border-top: none;
  position: relative;
  top: -24px;
}

.simple-daggerheart .character-sheet-statuses {
  min-width: 32rem;
}
.simple-daggerheart .character-sheet-statuses .character-statuses-row {
  justify-content: space-between;
}
.simple-daggerheart .character-sheet-statuses .character-status {
  padding: 12px;
  border-radius: 8px;
  align-items: center;
}
.simple-daggerheart .character-sheet-statuses .character-status .character-status-inputs {
  width: max-content;
  justify-content: center;
  margin-top: 4px;
}
.simple-daggerheart .character-sheet-statuses .character-status .character-status-inputs input {
  margin-top: 0;
}
.simple-daggerheart .character-sheet-statuses .character-status .character-status-inputs .divider {
  max-width: 2rem;
  text-align: center;
  font-size: 1.5rem;
}
.simple-daggerheart .character-sheet-statuses .character-status .character-status-label {
  text-align: center;
}
.simple-daggerheart .character-sheet-statuses .character-status.character-thresholds {
  min-width: max-content;
}

.simple-daggerheart.character-sheet-traits .character-trait {
  align-items: center;
  padding: 12px 0.2rem;
  border-radius: 2px;
}
.simple-daggerheart.character-sheet-traits .character-trait .character-trait-content {
  width: 100%;
  justify-content: center;
}
.simple-daggerheart.character-sheet-traits .character-trait .character-trait-content .character-trait-value {
  max-width: 50%;
  text-align: center;
  margin: 0 4px;
}
.simple-daggerheart.character-sheet-traits .character-trait .character-trait-content .character-trait-checkbox {
  flex: 0;
  width: 0;
  margin: 0;
}
.simple-daggerheart.character-sheet-traits .character-trait ul {
  list-style: none;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 12px 0 0 0;
}

.simple-daggerheart .character-sheet-experiences {
  min-width: 15rem;
}
.simple-daggerheart .character-sheet-experiences .character-experience .character-experience-bonus {
  max-width: 2rem;
  text-align: center;
}

.simple-daggerheart.character-sheet {
  min-width: 840px;
  max-width: 840px;
}
.simple-daggerheart.character-sheet .window-content {
  padding: 12px;
  gap: 24px;
}
.simple-daggerheart.character-sheet input {
  margin-top: 4px;
}
.simple-daggerheart.character-sheet .character-sheet-section {
  border: 1px solid transparent;
  background: linear-gradient(var(--background), var(--background)) padding-box, linear-gradient(to bottom right, hsl(48, 75%, 77%), hsl(48, 78%, 67%)) border-box;
  border-radius: 8px;
  padding: 24px;
}

.application.simple-daggerheart {
  --background: hsl(228, 40%, 4%);
  --color-border: hsl(228, 28%, 16%);
  --color-text-primary: hsl(40, 10%, 92%);
  --color-text-secondary: hsl(40, 10%, 92%);
}
.application.simple-daggerheart .window-content {
  overflow-y: scroll;
}
.application.simple-daggerheart .window-content input {
  --input-background-color: hsl(228, 28%, 16%);
  --checkbox-background-color: hsl(228, 28%, 16%);
  --checkbox-checked-color: hsl(48, 78%, 67%);
  --input-border-color: transparent;
  --input-text-color: hsl(40, 10%, 92%);
  --input-focus-outline-color: hsl(40, 20%, 80%);
  transition: 0.2s;
}
.application.simple-daggerheart .window-content button {
  --button-text-color: hsl(40, 10%, 92%);
  --button-border-color: transparent;
  --button-background-color: hsl(228, 28%, 16%);
  --button-hover-text-color: hsl(40, 10%, 92%);
  --button-hover-background-color: hsl(228, 28%, 16%);
  --button-hover-border-color: transparent;
  --button-focus-outline-color: transparent;
  padding: 6px 0.6rem;
  margin: 4px;
  box-shadow: 0 1px 1px 1px black;
  border-top: 1px solid hsl(228, 28%, 30%);
  border-radius: 4px;
  height: auto;
  transition: none;
  position: relative;
}
.application.simple-daggerheart .window-content button:active {
  background-color: hsl(228, 40%, 7%);
  border-top: 1px solid hsl(228, 28%, 16%);
  transform: translate(0, 1px);
  box-shadow: 0 0 1px 1px black;
}
.application.simple-daggerheart .window-content button:active::after {
  transform: translate(0, -1px);
}
.application.simple-daggerheart .window-content button:focus-visible::after {
  position: absolute;
  display: block;
  content: "";
  width: 130%;
  height: 140%;
  border-radius: 4px;
  border: 1px solid hsl(40, 20%, 80%);
}
.application.simple-daggerheart .window-content nav.tabs {
  border: none;
}

.chat-message {
  --chat-message-background: hsl(40, 10%, 92%);
}

/*# sourceMappingURL=simple-daggerheart-styles.css.map */
