@use 'variables.scss';

.simple-daggerheart {
  .large-input-field,
  .large-text-container {
    width: 3rem;
    max-width: 3rem;
    min-width: 3rem;
    height: 2.5rem;
    text-align: center;
    font-size: variables.$font-size-large;
  }

  .large-input-field-label {
    max-width: min-content;
  }

  .large-text-container {
    display: inline-block;
    line-height: 2.5rem;
    border: 1px solid var(--color-border);
    border-radius: 4px;
  }

  .card {
    background-color: variables.$color-dark-3;
    border-top: 1px solid var(--color-border);
    box-shadow: 0 2px 4px black;
    padding: 12px;
    border-radius: 3px;
  }

  .section-header {
    padding: 4px;
    min-height: 3rem;
    padding: 0 12px;
    border-bottom: 1px solid variables.$color-metallic-accent-heavy;
  }

  .simple-prose-mirror-container {
    prose-mirror {
      min-height: 3.7rem;
    }
    .editor-menu {
      display: none;
    }
  }
}
