@use 'variables.scss';

.simple-daggerheart {
  .large-input-field,
  .large-text-container {
    width: 3rem;
    max-width: 3rem;
    min-width: 3rem;
    height: 2.5rem;
    text-align: center;
    font-size: variables.$font-size-large;
  }

  .large-input-field-label {
    max-width: min-content;
  }

  .large-text-container {
    display: inline-block;
    line-height: 2.5rem;
    border: 1px solid var(--color-border);
    border-radius: 4px;
  }

  .card {
    background-color: variables.$color-dark-3;
    border-top: 1px solid var(--color-border);
    box-shadow: 0 2px 4px black;
    position: relative;

    & > * {
      z-index: 2;
      position: relative;
    }

    &.card-red,
    &.card-gold,
    &.card-green,
    &.card-blue,
    &.card-metallic {
      &::before {
        content: '';
        position: absolute;
        z-index: 1;
        width: 50%;
        height: 3px;
        top: 0;
        left: 25%;
        border-radius: 0 0 6px 6px;
      }
    }

    &.card-red::before {
      background: variables.$color-red-accent;
    }

    &.card-gold::before {
      background: linear-gradient(
        to right,
        variables.$color-gold-accent,
        variables.$color-gold-accent-heavy
      );
    }

    &.card-green::before {
      background: variables.$color-green-accent;
    }

    &.card-blue::before {
      background: variables.$color-blue-accent;
    }

    &.card-metallic::before {
      background: linear-gradient(
        to right,
        variables.$color-metallic-accent,
        variables.$color-metallic-accent-heavy
      );
    }
  }
}
