@use 'variables.scss';

body.theme-dark {
  .application {
    --background: #{variables.$gradient-dark-background};
  }
}

.themed.theme-dark {
  --sidebar-background: #{variables.$gradient-dark-background};
}

body.theme-light {
  .application {
    --background: #{variables.$color-light-background};
  }
}

.themed.theme-light {
  --sidebar-background: #{variables.$color-light-background};
}

.chat-message {
  --chat-message-background: #{variables.$color-chat-background};
}
