@use 'variables.scss';

.application.simple-daggerheart {
  --background: #{variables.$color-dark-1};
  --color-border: #{variables.$color-dark-2};
  --color-text-primary: #{variables.$color-light-1};
  --color-text-secondary: #{variables.$color-light-1};
  --color-text-selection: #{variables.$color-light-1};
  --color-text-selection-bg: #{variables.$color-blue-accent};
  --color-scrollbar: #{variables.$color-blue-accent};

  .window-content {
    input,
    textarea {
      --input-background-color: #{variables.$color-dark-2};
      --checkbox-background-color: #{variables.$color-dark-2};
      --checkbox-checked-color: #{variables.$color-gold-accent-heavy};
      --input-border-color: transparent;
      --input-text-color: #{variables.$color-light-1};
      --input-focus-outline-color: #{variables.$color-light-1};
      transition: 0.2s;
      border: none;
    }

    input[type='number'] {
      text-align: center;
    }

    input[type='checkbox'] {
      margin-bottom: 0;
    }

    prose-mirror {
      --menu-background: #{variables.$color-dark-2};

      &.active {
        .editor-content {
          background-color: variables.$color-dark-2;
          padding: 0 0.5rem;
        }

        button > i {
          &:first-child {
            padding: 0;
            width: 1.8rem;
          }
          &:not(:first-child) {
            padding: 0;
            width: 1.2rem;
          }
        }
      }

      &.inactive {
        .editor-content {
          border: 1px solid variables.$color-dark-2;
          padding: 0 0.5rem;
        }
        > button.toggle > i {
          padding: 0;
          width: 1.8rem;
        }
      }
    }

    button {
      --button-text-color: #{variables.$color-light-1};
      --button-border-color: transparent;
      --button-background-color: #{variables.$color-dark-2};
      --button-hover-text-color: #{variables.$color-light-1};
      --button-hover-background-color: #{variables.$color-dark-2};
      --button-hover-border-color: transparent;
      --button-focus-outline-color: transparent;
      box-shadow: 0 1px 1px 1px black;
      border-top: 1px solid variables.$color-dark-4;
      border-radius: 4px;
      height: auto;
      transition: none;
      position: relative;
      padding: 0;

      > * {
        padding: 6px 0.6rem;
      }

      > .fas {
        font-size: 0.8rem;
      }

      &:not(:disabled):active {
        background-color: variables.$color-dark-3;
        border-top: 1px solid variables.$color-dark-2;
        transform: translate(0, 1px);
        box-shadow: 0 0 1px 1px black;

        &::after {
          transform: translate(0, -1px);
        }
      }

      &:focus-visible::after {
        position: absolute;
        display: block;
        content: '';
        min-width: 100%;
        min-height: 100%;
        border-radius: 4px;
        padding: 4px;
        box-sizing: content-box;
        border: 1px solid variables.$color-light-1;
      }
    }

    nav.tabs {
      border: none;
    }
  }
}

#prosemirror-dropdown {
  --dropdown-background: #{variables.$color-dark-3};
  --dropdown-border: #{variables.$color-blue-accent};
}

.chat-message {
  --chat-message-background: #{variables.$color-light-1};
}
