@use 'sass:color';

$font-size-large: 1.7rem;
$font-size-extra-large: 2rem;

$color-dark-1: hsl(228 40% 4%);
$color-dark-2: hsl(228 28% 18%);
$color-dark-3: hsl(228 6% 30%);
$color-gold-accent: hsl(48, 75%, 77%);
$color-gold-accent-heavy: hsl(48, 78%, 67%);

$color-light-1: hsl(40 10% 90%);
$color-light-2: hsl(40 10% 86%);
$color-purple-accent: hsl(228 20% 60%);
$color-purple-accent-heavy: hsl(228 20% 30%);
