@use 'sass:color';

$font-size-large: 1.5rem;
$font-size-extra-large: 1.8rem;

$color-dark-1: hsl(228 40% 4%);
$color-dark-2: hsl(228 28% 16%);
$color-dark-3: hsl(228 40% 7%);
$color-dark-4: hsl(228 28% 32%);

$color-gold-accent: hsl(48, 75%, 77%);
$color-gold-accent-heavy: hsl(48, 78%, 67%);

$color-light-1: hsl(40 10% 92%);

$color-red-accent: hsl(3 60% 35%);
$color-blue-accent: hsl(228 50% 40%);
$color-blue-accent-light: hsl(228 30% 40%);
$color-metallic-accent: hsl(228 10% 45%);
$color-metallic-accent-heavy: hsl(228 10% 60%);
$color-purple-accent: hsl(273 50% 40%);
