<section class='flexrow gap-3 card-sheet-body'>
  {{formInput
    description.field
    name=description.name
    value=description.value
    toggled=true
    enriched=description.value
  }}
</section>