@use '../variables.scss';

.simple-daggerheart.card-sheet-header {
  align-items: start;
  margin-bottom: 24px;

  .card-img {
    cursor: pointer;
    max-width: 102px;
    max-height: 102px;
    border: 1px solid variables.$color-gold-accent;
    border-radius: 4px;
  }
}
