.simple-daggerheart .character-sheet-weapons {
  height: 100%;
  .weapons-header {
    height: 2rem;
    .section-label {
      flex-grow: 1;
    }

    .character-proficiency {
      flex-grow: 0;
      flex-shrink: 1;
      min-width: max-content;
      .character-proficiency-label {
        flex-grow: 0;
      }

      .character-proficiency-input {
        margin-top: 0;
        max-width: 3rem;
        margin-left: 1ch;
      }
    }
  }

  .character-weapons-list {
    flex: 2 1 0;
    padding-right: 4px;
    overflow-y: scroll;
    overflow-x: hidden;

    .character-weapon {
      .character-weapon-small-input {
        max-width: 5.2rem;
      }
      .remove-weapon-button {
        max-width: min-content;
        margin-top: 20px;
      }
      .simple-prose-mirror-container {
        flex: 1 0 0;
      }
      .character-weapon-equip-settings {
        max-width: 6rem;
      }
      .character-weapon-burden {
        max-width: 5.8rem;
      }
    }
  }
}
