@use '../variables.scss';

.simple-daggerheart.character-sheet-statuses {
  .character-status {
    max-width: max-content;

    .character-status-label {
      width: 100%;
      text-align: center;
    }
    .divider {
      text-align: center;
      padding: 0 5px;
      font-size: variables.$font-size-large;
    }
  }
}
