@use '../variables.scss';

.simple-daggerheart .character-sheet-items {
  flex: 1 1 100%;

  .items-header {
    height: 2rem;
    padding-bottom: 2px;
    border-bottom: 1px solid variables.$color-dark-2;
    width: calc(100% + 24px);
  }

  .character-items-list {
    flex: 2 1 0;
    padding-right: 4px;
    overflow-y: auto;
    scrollbar-gutter: stable;
    overflow-x: hidden;

    .character-item {
      .character-item-name {
        flex-grow: 1;
      }
      .character-item-amount {
        max-width: 3rem;
      }
      .remove-item-button {
        max-width: min-content;
        margin-top: 20px;
      }

      .simple-prose-mirror-container {
        prose-mirror {
          min-height: 2.1rem;
          max-height: 2.1rem;
        }
      }
    }
  }
}
