@use '../variables.scss';

.simple-daggerheart .character-sheet-experiences {
  min-width: 15rem;

  .character-experience {
    .character-experience-bonus {
      max-width: 3rem;
      text-align: center;
    }
  }
}
