@use '../variables.scss';

.simple-daggerheart.character-sheet-header {
  align-items: start;

  .character-img {
    cursor: pointer;
    max-width: 102px;
    max-height: 102px;
    border: 1px solid variables.$color-dark-2;
    border-radius: 4px;
  }

  .character-level {
    text-align: center;
    padding: 24px 12px 12px;
    border-radius: 0 0 8px 8px;
    border-top: none;
    position: relative;
    top: -24px;
  }
}
