.simple-daggerheart .character-sheet-features {
  height: 100%;

  .character-features-list {
    flex: 2 1 0;
    padding-right: 4px;
    overflow-y: auto;
    scrollbar-gutter: stable;

    .character-feature {
      .character-feature-name {
        flex-grow: 1;
      }
      .remove-feature-button {
        max-width: min-content;
      }
    }
  }
}
