@use '../variables.scss';

.simple-daggerheart.character-sheet-traits {
  .character-stat {
    align-items: center;
    padding: 12px 0.2rem;

    .character-stat-content {
      width: 100%;
      justify-content: center;
      .character-stat-value {
        max-width: 50%;
        text-align: center;
        margin: 0 4px;
      }
      .character-stat-checked {
        flex: 0;
        width: 0;
        margin: 0;
      }
    }

    ul {
      list-style: none;
      width: 100%;
      text-align: center;
      padding: 0;
      margin: 12px 0 0 0;
    }
  }
}
