.simple-daggerheart.character-sheet-traits {
  margin-bottom: 12px;

  .character-trait {
    align-items: center;
    padding: 12px 0.2rem;

    .character-trait-content {
      width: 100%;
      justify-content: center;
      .character-trait-value {
        max-width: 3rem;
        margin: 0 4px;
      }
      .character-trait-checkbox {
        flex: 0;
        width: 0;
        margin: 0;
      }
    }

    ul {
      list-style: none;
      width: 100%;
      text-align: center;
      padding: 0;
      margin: 8px 0 0 0;
    }
  }
}
