@use '../variables.scss';

.simple-daggerheart.character-sheet-header {
  input {
    margin: variables.$spacing-1 0;
  }

  .character-img {
    cursor: pointer;
    max-width: 120px;
    max-height: 120px;
  }

  .character-level {
    max-width: variables.$size-2;

    input {
      height: variables.$size-2;
      font-size: variables.$font-size-extra-large;
      text-align: center;
    }
  }
}
