@use '../variables.scss';

.simple-daggerheart .character-sheet-features {
  padding: 12px;
  border-radius: 3px;

  .character-feature {
    .character-feature-name {
      flex-grow: 1;
    }
    .remove-feature-button {
      max-width: min-content;
    }
    prose-mirror {
      min-height: 5.5rem;
    }
    .editor-menu {
      display: none;
    }
  }
}
