@use '../variables.scss';

.simple-daggerheart .character-sheet-armor {
  .armor-header {
    padding-bottom: 2px;
    border-bottom: 1px solid variables.$color-dark-2;
  }

  .character-armor-name {
    flex-grow: 1;
  }

  .character-armor-base-score {
    max-width: 3.5rem;
  }

  .character-armor-base-thresholds {
    label {
      display: inline-block;
      width: 100%;
      text-align: center;
    }

    input {
      max-width: 3.5rem;
    }
  }
}
