.simple-daggerheart .character-sheet-weapons {
  .character-weapon {
    .character-weapon-small-input {
      max-width: 5.2rem;
    }
    .remove-weapon-button {
      max-width: min-content;
      margin-top: 20px;
    }
    prose-mirror {
      min-height: 3.7rem;
    }
    .editor-menu {
      display: none;
    }
  }
}
