@use '../variables.scss';

.simple-daggerheart .character-sheet-experiences {
  padding: 12px;
  border-radius: 3px;

  .character-experience {
    .character-experience-bonus {
      max-width: 3rem;
      text-align: center;
    }
    .remove-experience-button {
      max-width: min-content;
    }
  }
}
