@use '../variables.scss';

.simple-daggerheart.character-sheet .window-content .tab.character-sheet-cards {
  padding-right: 4px;

  .character-cards-scroll-container {
    height: 100%;
    overflow-y: scroll;
    padding-right: 4px;

    section {
      .character-cards-grid {
        margin-top: 12px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;

        .character-card-spot,
        .character-card {
          border-radius: 8px;
          display: block;
          height: 18rem;
        }

        .character-card-spot {
          background: variables.$color-dark-1;
          border-top: 1px solid black;
          border-bottom: 1px solid variables.$color-dark-2;
        }

        .character-card {
          border: 1px solid variables.$color-dark-2;
          padding: 12px;
          overflow: hidden;
          position: relative;
          background: linear-gradient(
            to bottom right,
            variables.$color-dark-2,
            variables.$color-dark-3
          );
          display: flex;
          flex-direction: column;
          align-content: space-between;

          .card-title {
            justify-content: space-between;
            padding-bottom: 8px;
            margin-bottom: 8px;
            border-bottom: 1px solid variables.$color-purple-accent;
            button {
              margin: 0;
              flex-grow: 0;
            }
          }

          .card-description {
            flex: 2;
          }
        }
      }
    }
  }
}
