@use 'character-sheet-header.scss';
@use 'character-sheet-statuses.scss';

.simple-daggerheart.character-sheet {
  .window-content {
    padding: 20px;
    gap: 20px;
  }

  .simple-daggerheart.character-sheet-section {
    border: 1px solid transparent;
    background:
      linear-gradient(var(--background), var(--background)) padding-box,
      linear-gradient(
          to bottom right,
          var(--simple-daggerheart-accent),
          var(--simple-daggerheart-accent-heavy)
        )
        border-box;
    border-radius: 8px;
    padding: 20px;
  }

  input {
    margin-top: 4px;
  }
}
