@use "../variables.scss";

.simple-daggerheart.character-sheet {
  input {
    margin: variables.$spacing-small 0;
  }

  .character-header {
    .character-img {
      cursor: pointer;
      max-width: 120px;
      max-height: 120px;
    }

    .secondary-field {
      width: calc(100% / 3);
    }

    .character-level {
      max-width: variables.$size-med;

      input {
        height: variables.$size-med;
        font-size: variables.$font-size-xl;
        text-align: center;
      }
    }
  }
}
