.simple-daggerheart .character-sheet-experiences {
  height: 100%;

  .character-experiences-list {
    flex: 2 1 0;
    padding-right: 4px;
    overflow-y: auto;
    scrollbar-gutter: stable;

    .character-experience {
      .character-experience-bonus {
        max-width: 3rem;
      }
      .remove-experience-button {
        max-width: min-content;
      }
    }
  }
}
