<section
  class='tab {{tabs.inventory.cssClass}} character-sheet-inventory-tab'
  data-group='primary'
  data-tab='inventory'
>
  <div class='flexrow gap-3 align-start'>
    {{> 'simple-daggerheart.character-sheet.weapons'}}
    {{> 'simple-daggerheart.character-sheet.items'}}
  </div>
</section>