<section class='flexrow gap-4 align-stretch tab {{tab.cssClass}} active' data-group="primary" data-tab="status">
  {{> 'simple-daggerheart.character-sheet.statuses'}}
  {{> 'simple-daggerheart.character-sheet.experiences'}}
</section>