<section 
class='tab flexcol character-sheet-character-tab {{tabs.character.cssClass}}' 
data-group='primary' 
data-tab='character'>
  {{> 'simple-daggerheart.character-sheet.statuses'}}
  <div class='flexrow gap-3 align-start character-tab-lower-section'>
    {{> 'simple-daggerheart.character-sheet.experiences'}}
    {{> 'simple-daggerheart.character-sheet.features'}}
  </div>
</section>