<section
  class='tab {{tabs.inventory.cssClass}} character-sheet-inventory'
  data-group='primary'

  data-tab='inventory'
>
  <div class='flexrow gap-3 container-columns'>
    {{> 'simple-daggerheart.character-sheet.weapons'}}
    {{> 'simple-daggerheart.character-sheet.items'}}
  </div>
</section>