<section class='tab character-sheet-character-tab {{tab.cssClass}} active' data-group="primary" data-tab="status">
  {{> 'simple-daggerheart.character-sheet.statuses'}}
  <div class="flexrow gap-3 text-entry-columns">
    {{> 'simple-daggerheart.character-sheet.experiences'}}
    {{> 'simple-daggerheart.character-sheet.features'}}
  </div>
</section>