:root {
  --spacing-small: 10px;
  --spacing-med: 15px;
  --spacing-large: 20px;
  --spacing-xl: 40px;

  --size-small: 20px;
  --size-med: 50px;
  --size-large: 80px;
  --size-xl: 120px;

  --font-size-large: 16pt;
  --font-size-xl: 20pt;
}
